* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px;
  border: 1px solid #FFFFFF;
    border-radius: 5px;
  height: 40px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #fff;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #fff; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #fff; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #fff; }

label {
  display: block;
  width: 100%;
  margin: 0 0 24px; }

button, .btn {
  outline: none;
  background: transparent;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border: none;
    border-radius: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-family: "Roboto", sans-serif; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding: 0 30px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-white {
  background: #FFFFFF;
  color: #4D4D4D; }
  .btn-white:hover {
    color: #4D4D4D;
    background: #FFE600; }

.btn-yellow {
  background: #FFE600;
  -webkit-box-shadow: 0 4px 14px rgba(255, 184, 0, 0.3);
          box-shadow: 0 4px 14px rgba(255, 184, 0, 0.3); }

.phone {
  font-size: 24px;
  font-weight: bold; }

.mail {
  font-size: 18px;
  font-weight: bold; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h1 {
  height: 100%;
  position: relative;
  color: #559C4F;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 18px; }
  h1:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 9px;
    background: #FFE600;
    width: 170px; }

h2 {
  width: 100%;
  position: relative;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 15px; }
  h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 9px;
    background: #FFE600; }

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.slick-slide {
  outline: none; }

.slick-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  opacity: 1;
  bottom: 172px;
  left: 0; }
  .slick-dots li {
    width: 20px;
    height: 20px;
    border: 3px solid #FFFFFF;
      border-radius: 50%;
    margin: 0 20px 0 0;
    cursor: pointer; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #fff; }

header {
  padding: 30px 0; }

.btn-burger {
  display: none;
  width: 20px;
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .btn-burger span {
    display: block;
    background: #559C4F;
    width: 100%;
    height: 2px; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%; }
  .header .btn-call {
    display: none; }
  .header .menu {
    margin: 37px 0 0;
    width: 100%;
    max-width: 500px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .header .menu li {
      width: 33.3%;
      margin: 0 0 19px; }
      .header .menu li a {
        text-transform: uppercase;
        color: #559C4F;
        font-size: 12px; }

.header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  max-width: 363px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000000;
    font-size: 14px; }
    .menu li a:hover {
      color: #559C4F; }

.menu-icon {
  width: 17px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #559C4F;
  margin: 0 10px 0 0; }

.list-language {
  text-transform: uppercase;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto; }
  .list-language li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list-language li:after {
      content: '|';
      display: inline-block;
      margin: 0 10px; }
    .list-language li:last-child:after {
      display: none; }
    .list-language li a {
      color: #000000; }
      .list-language li a:hover {
        color: #559C4F; }

.mobile-menu {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 300px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 30px;
  z-index: 3;
  display: none;
  -webkit-box-shadow: 0 4px 14px rgba(255, 184, 0, 0.3);
          box-shadow: 0 4px 14px rgba(255, 184, 0, 0.3); }
  .mobile-menu .logo {
    max-width: none;
    margin: 0 auto; }
  .mobile-menu .menu {
    margin: 30px 0; }
    .mobile-menu .menu li {
      width: 100%;
      margin: 0 0 20px; }
    .mobile-menu .menu a {
      text-transform: uppercase;
      font-size: 14px; }

.btn-close {
  margin: 0 0 30px auto;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 2px;
    height: 100%;
    background: #559C4F; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.map {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  height: 320px; }
  .map iframe {
    width: 100%;
    height: 100%; }

footer {
  background: #559C4F;
  color: #fff;
  font-size: 14px;
  padding: 41px 0; }
  footer .logo {
    max-width: 172px;
    margin: 0 0 40px; }
  footer .mail {
    margin: 36px 0 0; }
  footer .phone {
    margin: 0 0 7px; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #FFE600; }

.address {
  max-width: 210px;
  width: 100%;
  margin: 60px 0 0; }

.form button {
  font-size: 12px;
  margin: 0 0 0 auto; }

.home-content {
  padding: 237px 0 187px;
  position: relative; }
  .home-content:before {
    content: '';
    position: absolute;
    right: -28px;
    top: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
    width: 1065px;
    height: calc(100% - 132px); }
  .home-content > * {
    position: relative; }

.decor {
  position: absolute;
  bottom: 0;
  background: #fff; }

.decor1 {
  width: 361px;
  height: 132px;
  right: -249px;
  -webkit-clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%); }

.decor2 {
  width: 192px;
  height: 119px;
  right: -440px;
  bottom: 132px;
  -webkit-clip-path: polygon(14% 0, 100% 0, 86% 100%, 0% 100%);
          clip-path: polygon(14% 0, 100% 0, 86% 100%, 0% 100%); }

.home {
  position: relative; }
  .home h1 {
    padding: 0;
    font-size: 54px;
    color: #000;
    margin: 0 0 52px;
    max-width: 426px;
    width: 100%; }
    .home h1:before {
      display: none; }
  .home .container {
    position: relative;
    z-index: 1; }

.contacts-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 75px 0 0; }

.contacts-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 20px 0 0;
  margin: 0 20px 0 0; }
  .contacts-item:last-child {
    padding: 0;
    margin: 0; }
    .contacts-item:last-child:after {
      display: none; }
  .contacts-item .phone {
    font-size: 18px;
    color: #559C4F;
    margin: 0 0 8px; }
    .contacts-item .phone:last-child {
      margin: 0; }
  .contacts-item .mail {
    font-size: 14px;
    color: #559C4F;
    margin: 5px 0 0; }
  .contacts-item:after {
    content: '';
    display: inline-block;
    background: #FFE600;
    width: 2px;
    height: 42px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.home-slider {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%; }
  .home-slider .slick-list, .home-slider .slick-track {
    height: 100%; }

.home-slider__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-slider__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.advantages {
  padding: 140px 0;
  position: relative;
  overflow: hidden;
  color: #fff; }
  .advantages h2 {
    text-align: center;
    color: #fff;
    margin: 0 auto 67px; }
    .advantages h2:before {
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      background: #fff; }
  .advantages:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: calc(100% + 34px);
    height: calc(100% + 270px);
    background-blend-mode: multiply, normal;
    -webkit-filter: blur(14px);
            filter: blur(14px);
    background: -webkit-gradient(linear, left bottom, left top, from(#FFE600), to(#FFE600)), url("../img/advantages-bg.jpeg") no-repeat center bottom;
    background: linear-gradient(0deg, #FFE600, #FFE600), url("../img/advantages-bg.jpeg") no-repeat center bottom;
      background-size: cover; }
  .advantages .container {
    z-index: 1;
    position: relative; }

.advantages-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 150px;
  width: 100%;
  font-weight: bold; }
  .advantages-box__icon {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 16px;
    background: #FFFFFF;
    width: 120px;
    height: 120px; }

.about {
  padding: 100px 0; }
  .about h2 {
    color: #559C4F; }

.about-content-wrap {
  -webkit-clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
  background: #559C4F;
  font-size: 14px;
  padding: 44px 76px;
  color: #fff; }
  .about-content-wrap strong {
    font-weight: bold;
    margin: 0 0 20px;
    display: inline-block; }
  .about-content-wrap p {
    margin: 0 0 20px; }
    .about-content-wrap p:last-child {
      margin: 0; }

.about-content-wrap-one .box-text {
  max-width: 480px;
  width: 100%; }

.about-img-wrap-one {
  -webkit-clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
  min-width: 1274px;
  margin: 0 -50px 0 -200px;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about-img-wrap-one img {
    width: 100%; }

.about-img-wrap {
  max-width: 876px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1; }

.about-content-wrap-two {
  padding: 157px 80px 29px 90px;
  margin: -140px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about-content h3 {
  text-transform: uppercase;
  color: #559C4F;
  font-size: 24px;
  font-weight: bold; }

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%); }
  .about-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .about-img-wrap-one {
    margin: 0 -50px 0 -140px; }
  .about {
    padding: 70px 0; }
  .about-content h3 {
    font-size: 20px; }
  .phone {
    font-size: 20px; }
  .mail {
    font-size: 14px; }
  .address {
    margin: 30px 0 0; }
  footer .mail {
    margin: 20px 0 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .home h1 {
    font-size: 40px;
    margin: 0 0 30px; }
  .logo {
    max-width: 250px; }
  .header .menu li a {
    font-size: 10px; }
  .header .menu {
    margin: 20px 0 0; }
  header {
    padding: 15px 0; }
  .home-content {
    padding: 190px 0 150px; }
  .slick-dots {
    bottom: 20px; }
  .about-img-wrap-one {
    min-width: auto;
    margin: 30px auto; }
    .about-img-wrap-one img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .about h2 {
    margin: 0 0 30px; }
  .about-content h3 {
    margin: 0 auto 20px; }
  .about-content-wrap {
    padding: 40px 60px; }
  .about-content-wrap-two {
    padding: 150px 60px 30px; }
  .advantages {
    padding: 60px 0; }
  .advantages-box {
    margin: 0 0 30px; }
  .advantages-box__icon {
    width: 100px;
    height: 100px; }
  .map {
    margin: 30px auto 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    border: 1px solid #fff; }
  .about-content-wrap-two {
    margin: -60px auto 30px;
    padding: 80px 60px 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .home-content:before, .decor {
    display: none; }
  header .menu {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .list-language {
    margin: 0 20px 0 auto; }
  .home-content {
    padding: 120px 0 30px; }
    .home-content .btn {
      margin: 0 auto; }
  .contacts-wrapper {
    margin: 30px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  h2, h1 {
    font-size: 35px; }
    h2:before, h1:before {
      height: 3px; }
  .home {
    position: relative; }
    .home h1 {
      text-align: center;
      margin: 0 auto 30px;
      font-size: 35px; }
  .home-slider {
    position: relative; }
  .about-content-wrap {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 30px; }
  .about-content-wrap-two {
    margin: 30px auto; }
  .about-img-wrap-one, .about-img {
    -webkit-clip-path: none;
            clip-path: none; }
  footer .form {
    margin: 30px 0 0; }
  footer .logo {
    margin: 0 auto 30px; }
  .form button {
    margin: 0 auto; }
  label {
    margin: 0 0 10px; }
  .address {
    max-width: none; } }

@media only screen and (max-width: 480px) {
  .logo {
    max-width: 150px; }
  .contacts-item {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 2px solid #FFE600; }
    .contacts-item:last-child {
      border: none; }
    .contacts-item:after {
      display: none; }
  .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .home h1, h2 {
    font-size: 30px; } }
